{% if not valid_currency %}
<div class="alert alert-warning">{{ invalid_currency_message }}</div>
{% else %}
<form action="{{ action }}" method="post">

	{{ bank_selector_label }}

	<select id="root-bank" name="root_bank" style="width: auto;"></select>
	<select id="bank-id" name="bank_id" style="display: none; width: auto;"></select>

    <div class="buttons clearfix">
        <div class="pull-right">
            <input type="submit" value="{{ button_confirm }}" data-loading-text="Loading..." class="btn btn-primary">
        </div>
    </div>
</form>
{{ javascript }}<br/>
{% endif %}

